@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 126 65% 98%;
    --foreground: 126 53% 4%;
    --muted: 306 38% 88%;
    --muted-foreground: 306 5% 38%;
    --popover: 126 65% 97%;
    --popover-foreground: 126 53% 3%;
    --card: 126 65% 97%;
    --card-foreground: 126 53% 3%;
    --border: 126 2% 90%;
    --input: 126 2% 90%;
    --primary: 126 47% 63%;
    --primary-foreground: 126 47% 3%;
    --secondary: 306 47% 63%;
    --secondary-foreground: 306 47% 3%;
    --accent: 306 47% 63%;
    --accent-foreground: 306 47% 3%;
    --destructive: 12 100% 20%;
    --destructive-foreground: 12 100% 80%;
    --ring: 126 47% 63%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 126 47% 2%;
    --foreground: 126 26% 97%;
    --muted: 306 38% 12%;
    --muted-foreground: 306 5% 62%;
    --popover: 126 47% 3%;
    --popover-foreground: 126 26% 98%;
    --card: 126 47% 3%;
    --card-foreground: 126 26% 98%;
    --border: 126 2% 15%;
    --input: 126 2% 15%;
    --primary: 126 47% 63%;
    --primary-foreground: 126 47% 3%;
    --secondary: 306 47% 63%;
    --secondary-foreground: 306 47% 3%;
    --accent: 306 47% 63%;
    --accent-foreground: 306 47% 3%;
    --destructive: 12 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 126 47% 63%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
